 @layer token, global, page;

 @import "tokens.css" layer(token);
 @import "global.css" layer(global);


 @layer page {
    body {
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        grid-template-rows: auto auto 1fr auto;
        min-height: 100svh;

        > header {
        grid-area: header;
        padding: var(--space-2) var(--space-3);
        border-block-end: var(--border);
        background: var(--panel);
        }
        > nav{

            padding: var(--space-2) var(--space-4);
            background: var(--panel);

            > ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            }

            .dropdown-parent {
            position: relative;
            }

            .dropdown-menu {
            display: none;
            white-space: nowrap; 
            }

            .dropdown-parent:hover .dropdown-menu,
            .dropdown-parent:focus-within .dropdown-menu {
            display: block;
            }
        }
        > main {
        grid-area: main;
        padding: var(--space-3);

            hero-img img {
            width:var(--image-5);
            }

            > nav {
                grid-area: nav;
                padding: var(--space-2) var(--space-4);
                >ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                }
                >a {
                padding:var(--space-1) var(--space-4);
                }
        }
        }

        > footer {
        grid-area: footer;
        padding: var(--space-2) var(--space-3);
        border-block-start: var(--border);
        background: var(--panel);
        }
    }
 }